* {
  box-sizing: border-box;
  font-family: sans-serif;
} 

/* body {
  margin-left:265px;
  margin-right: 265px;
} */

body > header, main, footer {
  margin: auto;
  width: 1200px;
}

header {
  background-color: grey;
}

header img {
  float: left;
  padding: 20px 0 20px 120px
}

header nav li {
  display: inline-block;
  padding: 45px 45px 45px 45px;
  color: lightgrey;
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  clear:both;
  display: table;
}

main {
  text-align: center;
}

main img:first-of-type {
  display: block;
  margin: 30px auto 0;
}

.side-by-side {
  display: inline-block;
  margin: 35px 15px;
  vertical-align: top;
}

.article-img {
display: inline-block;
vertical-align: top;
width: 50%;
margin-top: -30px;
}

article {
  display: inline-block;
  width: 38%;
  height: 300px;
  vertical-align: top;
  text-align: left;
  margin-right: 60px;
  margin-left: -30px;
}

p {
  overflow: scroll;
  height: 320px;
  line-height: normal;
  font-style: oblique;
}

h3 {
  font-size: 1.15rem;
}

button {
  background-color: black;
  color: white;
  font-size: 1.15rem;
  padding: 10px 30px;
  display: block;
  border: solid 2px #000;
  margin-top: 15px;
}

button:hover {
  background-color: #fff;
  color: #000;
  border: solid 2px #000;
}


footer {
  margin-top: 30px;
  background-color: grey;
  height: 100px;
}